@charset "utf-8";
/* CSS Document */
html, body { background: url(http://img1.cache.netease.com/game/blizzard/sc2/images/sc2-endpage-center-bg.jpg) repeat-y center top #000 !important; color:#996699;}
.sc2 { background:url(http://img1.cache.netease.com/game/blizzard/sc2/images/sc2-endpage-bottom-bg.jpg) no-repeat center bottom !important; clear:both; *zoom:1;}
.sc2 .wrapper { background:url(http://img1.cache.netease.com/game/blizzard/sc2/images/sc2-endpage-top-bg.jpg) no-repeat center -50px !important;}
.wrapper-left { width:610px; float:left;}
.left-content { background:#19081f; border-left:1px solid #270b33; border-right:1px solid #270b33; border-bottom:1px solid #270b33;}
.left-content .left-top { background:url(http://img1.cache.netease.com/game/blizzard/sc2/images/left-top.jpg) no-repeat -2px 0; padding:0 20px;}
.left-content .left-top .area-location { height:47px; border-bottom:3px solid #270b33;}
.left-content .left-top .area-location a { background:url(http://img1.cache.netease.com/game/blizzard/sc2/images/list-icon1.jpg) no-repeat left center; padding:0 5px 0 10px; line-height:47px;}
.right-title { height:40px; padding:7px 0 0 0; border-bottom:3px solid #270b33 !important;}
/* Article */
.article-content { color:#996699;}
.article-content #h1title { font-size:22px; color:#CC99CC; margin:15px 0 0;}
.article-content .info { color:#72488b; font-size:12px; line-height:21px; padding:5px 0;}
#endText { width:570px; text-align:justify; text-justify:inter-ideograph; overflow:hidden; padding:9px 0; font-size:14px; clear:both; line-height:23px; word-wrap:break-word; }
#endText strong, #endText b { font-weight:bold; color:#CC99CC; }
#endText h2 { font-size:14px; }
#endText .icon { margin:3px 0 0; border:0; }
#endText p { font-size:14px; line-height:23px; text-indent:2em; margin: 14px 0; }
#endText a, #endText a:visited { color:#ff9d00; text-decoration: none; }
#endText a:hover,#endText a font:hover,#endText a strong:hover { color:#fff !important; text-decoration:none; }
#endText .f_center { text-align:center; text-indent:0; }
#endText .f_justify { text-align:justify; text-justify:inter-ideograph; text-indent:0; }
#endText table td p { text-indent:0; }
#endText .blz-news { background: url("http://img1.cache.netease.com/game/blizzard/static/images/blizzard-new-bg.jpg") no-repeat scroll center 20px #13181E; border: 1px solid #333333; border-radius: 5px 5px 5px 5px; box-shadow: 0 0 12px rgba(0, 0, 0, 0.8) inset; color: #33A7FF; margin: 20px; padding: 20px; text-align: left; }
#endText .blz-news a { color: #FFFFFF; }
#endText .blz-news a:hover { text-decoration: underline; }
#endText .blz-news h3 { background: url("http://img1.cache.netease.com/game/blizzard/static/images/blz-icon.gif") no-repeat scroll 0 center transparent; border-bottom: 1px solid #2D2D2D; font-size: 14px; font-weight: bold; height: 20px; line-height: 20px; padding: 5px 0 5px 30px; }
/* Picture */
.nph_gallery .nph_bg { background:#1F0A26 !important; border:1px solid #270B33 !important; box-shadow:0 0 15px #000;}
.nph_skin_white {  border:none !important;}
.nph_skin_white .nph_hr_solid { background:none !important; border-top:1px solid #270B33;}
.nph_skin_white .nph_list_thumb a { border-color: #DB92DB !important; }
.nph_skin_white .nph_list_thumb .nph_list_active a { border-color: #DB92DB !important; }
.nph_skin_white .nph_list_thumb a:hover { border-color: #fff !important; }
.nph_skin_white .nph_photo_desc h2, .nph_skin_white .nph_photo_desc h2 a, .nph_skin_white .nph_photo_desc h2 a:visited { color:#DB92DB !important;}
.nph_skin_white .nph_photo_ctrl, .nph_skin_white .nph_photo_ctrl a, .nph_skin_white .nph_photo_ctrl a:visited { color:DB92DB !important;}
.nph_skin_white .nph_set_info p, .nph_set_cur, .nph_set_size, .nph_set_info .nph_search_count { color:#A474A4 !important;}
.nph_skin_white .nph_photo_desc p { color:#A474A4 !important;}
.nph_gallery .nph_bg { background:#1F0A26 !important; border:1px solid #270B33 !important; box-shadow:0 0 15px #000;}
.nph_skin_black .nph_hr_solid { background:none !important; border-top:1px solid #270B33;}
.nph_skin_black .nph_list_thumb a { border-color: #DB92DB !important; }
.nph_skin_black .nph_list_thumb .nph_list_active a { border-color: #DB92DB !important; }
.nph_skin_black .nph_list_thumb a:hover { border-color: #fff !important; }
.nph_skin_black .nph_photo_desc h2, .nph_skin_white .nph_photo_desc h2 a, .nph_skin_white .nph_photo_desc h2 a:visited { color:#DB92DB !important;}
.nph_skin_black .nph_photo_ctrl, .nph_skin_white .nph_photo_ctrl a, .nph_skin_white .nph_photo_ctrl a:visited { color:DB92DB !important;}
.nph_skin_black .nph_set_info p, .nph_set_cur, .nph_set_size, .nph_set_info .nph_search_count { color:#A474A4 !important;}
.nph_skin_black .nph_photo_desc p { color:#A474A4 !important;}
#endText .blz-news li { list-style: disc inside none; }
#endText .blz-news p { color:#0099CC; font-size:12px;}
#endText .blue-post .blue-post-content p { font-size:12px;}
#endText .blue-post .blue-post-spokesman img { border:0;}
#endText li { list-style-type: disc; font-size:12px; }
#endText ul { padding: 0 0 0 25px;}
#endText ul li ul { padding: 0 0 0 15px;}
#endText ul li ul li ul { padding: 0 0 0 15px;}
#endText img { box-shadow:0 0 10px #000;}
#endText .no-shadow { box-shadow:none;}
#endText .box-show {background: #1F0A26; border: 1px solid #270B33; border-radius: 5px; box-shadow: 0 0 5px #000000; margin: 0 auto; padding: 5px 10px; width: 550px;}
#endText hr { border: 1px solid #401253;}
.endMore { height:46px; line-height:44px; overflow:hidden; clear:both; margin:10px 0 20px 0; background:#1f0a26; border:1px solid #270B33; border-radius:3px; }
.endMore .left { display:inline; margin-left:9px; text-decoration:none; }
.endMore .left a { color:#ff9d00; }
.endMore .right { display:inline; margin-right:9px; }
.endMore .copyLink { background:url(bg_n.gif) left -364px no-repeat; padding-left:23px; }
.endMore .mail { background:url(bg_n.gif) -157px -364px no-repeat; padding-left:23px; }
.f_table { display:table-block; margin:0 auto; border-collapse:collapse; }
.f_left { text-align:left; }
.f_right { text-align:right; }
.wrapper-right { width:320px; float:left; margin:0 0 0 10px;}
.right-block {}
.right-images-list { padding:10px 0 0 0;}
.right-images-list li { padding:5px 0 5px 6px; float:left;}
.right-images-list span {display: block; height: 22px; line-height: 22px; overflow: hidden; text-align: center; width: 150px;}
a.image-news { display:block; border:1px solid #270b33; box-shadow:0 0 10px #000; padding:1px;}
a.image-news:hover { border:1px solid #ffccff; }
.right-news-list { padding:10px 0 !important;}
.page-list { padding:11px; text-align:center; display:block;}
.page-list span { display:inline-block; padding:1px 7px; line-height:20px;}
.page-list a { display:inline-block; padding:1px 7px; line-height:20px; border:1px solid #270B33; background:#1f0a26; margin: 5px 0;}
.page-list a:hover { background:#310f41; border:1px solid #72488b; color:#72488b;}
.thispage { background:#310f41; border:1px solid #72488b; color:#72488b;}
.nopage { border:1px solid #270B33; background:#1f0a26; color:#3C1F42;}
.more-news { padding:0 0 0 20px; margin:10px 0;}
.more-news ul { padding:10px 0;}
.more-news h3 { width:100px !important;}
.more-news li {background:url(http://img1.cache.netease.com/game/blizzard/sc2/images/list-icon1.jpg) no-repeat left center; padding:0 0 0 10px; height:23px; overflow: hidden;}
.more-news .news-left { float:left; width:280px;}
.more-news .news-right { float:right; width:280px;}
.tie-area { margin-left:20px;}
.list-line { border-bottom:2px solid #270B33; height:0; clear: both; display: block; margin: 0; overflow: hidden; padding: 0;}
.images-list { padding:10px 0 0 0;}
.images-list li { padding:5px 0 5px 6px; float:left;}
.images-list span {display: block; height: 22px; line-height: 22px; overflow: hidden; text-align: center; width: 180px;}
.tie-area { color:#666 !important;}
.tie-area a:hover { color:#666 !important; text-decoration:underline; }
.summary { padding:10px; background:#1F0A26; border:1px solid #270B33; line-height:22px; text-indent:2em;}
/* ÐÇ¼Ê2±í¸ñ */
.sc2match {background:url(http://img1.cache.netease.com/game/sc2/zhuanti/sc2_bg2.jpg) repeat; width:570px; text-align:center; font-size:12px; color:#fff; border:1px solid #66625F}
.sc2match th{border-bottom:solid 1px #66625F; height:31px;}
.sc2match td{ height:31px;}
.sc2match .tdleft{ text-align:left; padding-left:8px }
.sc2match .tdright{ text-align:right; padding-right:8px}
#endText .add-border td { border:1px solid #ccc;}
.image-title-style li span { overflow:auto; width:180px; height:44px; text-align:left; word-break:break-all;}