@charset "utf-8";
/* &copy;2013 Netease */.content
html, body { background: url(../images/sc2-bg-center.jpg) repeat-y center top #000; color:#A474A4;}
a { color:#DB92DB;}
a:hover { color:#fff;}
a.image-news { display:block; border:1px solid #401253; box-shadow:0 0 10px #000; padding:1px;}
a.image-news:hover { border:1px solid #ffccff; }
img { vertical-align: middle;}
.clearfix:after { clear: both; content: "."; display: block; height: 0; overflow: hidden; visibility: hidden; }
.N-nav-main a:hover { color:#fff !important; text-decoration:underline;}
.N-nav-main .N-nav-select-pop a:hover { color:#252525 !important; font-weight:normal;}
.left { float:left;}
.right { float:right;}
.right-silde-none { display:none;}
.right-silde-active { display:block;}
.sc2 { background:url(../images/sc2-bg-bottom.jpg) no-repeat center bottom; clear:both; *zoom:1;}
.sc2 .wrapper { background:url(../images/sc2-bg-top.jpg) no-repeat center -50px;}
div.content { width:960px; margin:0 auto; }
p.content { background:none;}
.banner {  height:425px; position:relative; left:0; top:0; z-index:50; background:url(../images/sc2-bg-top.jpg) no-repeat center -50px; }
.logo {  width: 380px; height: 110px; position: absolute; left: 10px; top: 80px;}
.logo a { display: block; height: 110px; width: 380px;}
.sc2-menu { height:68px; position:absolute; left:53px; top:320px; background:url(../images/menu-button.png) no-repeat 0 0; }
.sc2-menu li { width:105px; float:left; margin:0 2px 0 0; }
.sc2-menu li a { display:block; width:105px; height:68px; cursor:pointer; text-align:center; line-height:100px; font-size:14px; overflow:hidden;}
.sc2-menu li a.index:hover { background:url(../images/menu-button.png) no-repeat 0 -68px; }
.sc2-menu li a.data:hover { background:url(../images/menu-button.png) no-repeat -107px -68px; }
.sc2-menu li a.game:hover { background:url(../images/menu-button.png) no-repeat -214px -68px; }
.sc2-menu li a.video:hover { background:url(../images/menu-button.png) no-repeat -321px -68px; }
.sc2-menu li a.image:hover { background:url(../images/menu-button.png) no-repeat -428px -68px; }
.sc2-menu li a.download:hover { background:url(../images/menu-button.png) no-repeat -535px -68px; }
.sc2-menu li a.tutorial:hover { background:url(../images/menu-button.png) no-repeat -642px -68px; }
.sc2-menu li a.bbs:hover { background:url(../images/menu-button.png) no-repeat -749px -68px; }
.sc2-menu .sc2-flyout-menu { position:relative; width:105px;}
.sc2-menu .flyout-menu { background:#110615; border:1px solid #45135a; border-radius:3px; box-shadow:0 0 10px #000; }
.sc2-menu .flyout-menu { display:none; position:absolute; top:68px; left:0; width:102px; }
.sc2-menu .flyout-menu li { float:none; clear:both; width:92px; margin:5px; border-radius:2px; background:#19081f; }
.sc2-menu .flyout-menu a { display:block; width:82px; padding:0 0 0 10px; border-radius:2px; height:25px; line-height:25px; text-align:left; font-size:12px; }
.sc2-menu .flyout-menu a:hover {  background:#310f41;}
.sc2-menu .flyout-menu span { float:left; display:block; width:20px; height:20px; margin:3px 0 0 0; padding:0 10px 0 0; }
.sc2-menu .flyout-menu .menutext { display:block; padding:0 0 0 10px; width:93px; height:25px; line-height:25px; font-weight:bold; background:#0d0704; color:#B39265; }
.right-title { height:40px; padding:7px 0 0 0; border-bottom:3px solid #401253;}
.right-title h3 { font-size:14px; font-weight:bold; color:#cc99cc; line-height:35px; padding:0 0 0 35px; width:50px; float:left;}
.right-news-list { padding:0 5px 10px 5px;}
.right-news-list li { background:url(../images/list-icon1.jpg) no-repeat left center; padding:0 0 0 15px; line-height:22px;}
.right-news-list li span { float:right; color:#997C99;}
.right-news { background:url(../images/news-icon.png) no-repeat -5px 0; height:35px;}
.right-video { background:url(../images/video-icon.png) no-repeat -5px 0; height:35px;}
.right-images { background:url(../images/image-icon.png) no-repeat -5px 0; height:35px;}
.right-special { background:url(../images/special-icon.png) no-repeat -5px 0; height:35px;}
.right-friend { background:url(../images/friend-icon.png) no-repeat -5px 0; height:35px; width:100px !important;}
.right-hots { background:url(../images/hots-icon.png) no-repeat -5px 0; height:35px;}
.blue-post { border: 1px solid #333333; border-radius: 5px 5px 5px 5px; box-shadow: 0 0 12px rgba(0, 0, 0, 0.8) inset; color: #33A7FF; margin: 20px; padding: 20px; text-align: left; max-width:960px; min-height:230px;}
.blue-post-blizzard { background:url("../images/blue-post-blizzard.jpg") no-repeat 0 0 #13181e;}
.blue-post-netease { background:url("../images/blue-post-netease.jpg") no-repeat 0 0 #13181e;}
.blue-post li { list-style: disc inside none; }
.blue-post p, .blue-post li {  font-size:12px !important; }
.blue-post a { color: #FFFFFF; }
.blue-post a:hover { text-decoration: underline; }
.blue-post .blue-post-spokesman { float: left; position:relative; width:84px; color:#e4e3e3; padding:7px 0 0 2px;}
.blue-post .blue-post-spokesman .portrait { background:url("../images/blue-post-icon.jpg") no-repeat 0 0; }
.blue-post .blue-post-spokesman .name { width:84px; text-align:center; padding: 10px 0 0; line-height: normal; font-size: 12px; }
.blue-post .blue-post-spokesman .position { -webkit-text-size-adjust: none;  color: #00A2FB; font-size: 11px; line-height: 15px; text-align: center;}
.blue-post h3 { line-height:40px; color:#e4e3e3;  background:url("../images/blue-post-line.jpg") no-repeat 0 bottom;}
.blue-post .title { font-size:14px; font-weight:bold;}
.blue-post .link { float:right;}
.blue-post .blue-post-content { padding:0 0 0 110px;}
.blz-news { background: url("../images/blizzard-new-bg.jpg") no-repeat scroll center 20px #13181E; border: 1px solid #333333; border-radius: 5px 5px 5px 5px; box-shadow: 0 0 12px rgba(0, 0, 0, 0.8) inset; color: #33A7FF; margin: 20px; padding: 20px; text-align: left; }
.blz-news a { color: #FFFFFF; }
.blz-news a:hover { text-decoration: underline; }
.blz-news h3 { background: url("../images/blz-icon.gif") no-repeat scroll 0 center transparent; border-bottom: 1px solid #2D2D2D; font-size: 14px; font-weight: bold; height: 20px; line-height: 20px; padding: 5px 0 5px 30px; }
.blz-news li { list-style: disc inside none; }
.footer { height:330px;}
.footer .foot { padding: 230px 0 0; text-align: center; color:#3C1F42;}
.footer .foot .text { border-bottom:1px solid #3C1F42;}
.footer .foot a { color:#3C1F42;}
.footer .foot a:hover { color:#ffccff !important;}
.color-b { color:#0099CC;}
.color-r { color:#BA2636;}
.color-p { color:#cc99cc;}
.N-nav-bottom { background: none repeat scroll 0 0 #333333; color: #616161; }
.N-nav-bottom-copyright { color: #DDDDDD; padding-right: 2px; }
.N-nav-bottom-copyright-icon { font-family: Arial; }
.N-nav-bottom-main { height: 39px; line-height: 39px; margin: 0 auto; width: 960px; }
.N-nav-bottom-main a, .N-nav-bottom-main a:visited, .N-nav-bottom-main a:hover { color: #DDDDDD; padding: 0 4px; }
.N-nav-bottom-main a:hover { text-decoration: underline; }
.N-nav-channel { line-height: 13px; margin: 0 auto; padding: 14px 0; text-align: center; width: 960px; }
.N-nav-channel a { border-left: 1px solid #DDDDDD; padding: 0 8px 0 7px; }
.N-nav-channel a:link, .N-nav-channel a:visited { color: #252525; }
.N-nav-channel a:hover, .N-nav-channel a:active { color: #CC1B1B; }
.N-nav-channel a.first { border-left: 0 none; padding-left: 0; }
.N-nav-channel a.last { padding-right: 0; }
/* ͶƱ */
#endText .nvt_vote_4 { border-bottom:1px solid #46145C; text-align:left; border-left:1px solid #46145C; margin:0 auto; width:434px; background:#1F0927; clear:both; border-top:1px solid #46145C; border-right:1px solid #46145C; }
#endText .nvt_vote_4 .nvt_vote_list { border-top:1px dotted #46145C;}
/* SC2 Table */
.sc2-table { margin:10px 0; width:100%; font-size:12px;}
.sc2-table td { height:30px; line-height:30px; text-align:center; padding:0 10px;}
.sc2-table tr { margin:0 1px; }
.sc2-table .event-title { height:40px; line-height:40px;}
.sc2-table .event-title td { padding:0 10px;}
.sc2-table .event-title td:first-child + td { text-align:right; padding:0 10px 0 0;}
.sc2-table .table-title { color:#fff;}
.sc2-table tr:first-child td { padding:0;}
.sc2-table.blue { background:url(../images/blue-bg.jpg) repeat 0 0; color:#a3c9e4;}
.sc2-table.blue td { border-top:1px solid #031e43;}
.sc2-table.blue tr:first-child td { border:none;}
.sc2-table.blue .table-title { background:#091d3f;}
.sc2-table.blue .event-title td:first-child { background:url(../images/blue-icon.gif) no-repeat 10px center; padding:0 0 0 25px; text-align:left;}
.sc2-table.purple { background:url(../images/purple-bg.jpg) repeat 0 0; color:#a474a4;}
.sc2-table.purple td { border-top:1px solid #1b0525;}
.sc2-table.purple tr:first-child td { border:none;}
.sc2-table.purple .table-title { background:#270b33;}
.sc2-table.purple .event-title td:first-child { background:url(../images/purple-icon.gif) no-repeat 10px center; padding:0 0 0 25px; text-align:left;}