@charset "utf-8";
/* &copy;2013 Netease */
/* Content Left */
.wrapper-left { width:516px; padding:10px 7px 0 23px; float:left;}
.news-content p { line-height:22px;}
.text-center { text-align: center; display: block;}
/* Top Images */
.top-images { height:230px; position:relative; z-index:0; margin:0 0 20px 0; }
.top-images .image-list { padding:3px 0 0 3px; }
.top-images .image-list span { width:500px; height:50px; display:block; position:absolute; left:3px; bottom:3px; z-index:30; background:url(../images/top-image-show.png) no-repeat 0 0; line-height:70px; text-align:left; padding:0 0 0 10px; overflow:hidden;}
.top-images .image-list li { display:none;}
.top-images .image-list li a { color:#F2C8FC; font-size:14px;}
.top-images .image-list li a:hover { color:#fff;}
.top-images .image-button .active-button { background:url(../images/top-images-button.png) no-repeat 0 -48px;}
.top-images .image-button { position:absolute; right:10px; bottom:10px; z-index:30; width:120px; }
.top-images .image-button li { float:left; cursor:pointer; background:url(../images/top-images-button.png) no-repeat; width:23px; height:12px; }
.top-images .image-button li a { display:block; width:23px; height:12px; }
.top-images .mask { background:url(../images/top-images-border.png) no-repeat; position:absolute; left:0; top:0; width:516px; height:230px; cursor:pointer;}
.top-news { height:220px;}
.top-news h2 { font-size:18px; background:url(../images/top-news-icon.gif) no-repeat left center; line-height:30px; padding:0 0 0 15px;}
.top-news h2 a { color:#F07700;}
.top-news h2 a:hover { color:#fff;}
.top-news h3 { color:#DB92DB; line-height:22px; padding:0 0 0 15px;}
.top-news .top-news-line { display:block; background:url(../images/top-news-line.jpg) no-repeat 0 0; height:5px; margin:10px 0; overflow:hidden;}
.top-news .right-image-news { background:#19081f; box-shadow:0 0 10px #000; padding:5px 10px;}
.top-news .right-image-news li { padding:5px 0;}
.top-news .right-image-news span { display:block; line-height:22px; text-align:center;}
/* Blog News */
.blog-wrapper { background:url(../images/blog-news-bg-center.jpg) repeat-y 0 0; margin:10px 0;}
.blog-wrapper a:hover { color:#fff !important;}
.blog-wrapper .blog-bg { background:url(../images/blog-bg-bottom.jpg) no-repeat 0 bottom;}
.blog-wrapper .blog-list { background:url(../images/blog-bg-top.jpg) no-repeat 0 top; }
.blog-wrapper .blog-list h3 { background:url(../images/list-icon2.jpg) no-repeat left center; padding-left:15px; line-height:50px; height:50px; font-size:18px; border-bottom:3px solid #270b33; }
.blog-wrapper .blog-list h3 a { color:#DB92DB;}
.blog-wrapper .blog-list .blog-news { position:relative; z-index:0; width:516px;}
.blog-wrapper .blog-list .border-top { background:url(../images/blog-news-bg-top.jpg) no-repeat 0 top; width:516px;}
.blog-wrapper .blog-list .border-bottom { background:url(../images/blog-news-bg-bottom.jpg) no-repeat 0 bottom; width:516px;}
.blog-wrapper .blog-list .blog-content { padding:10px 20px 40px 20px;}
.blog-wrapper .blog-list .blog-content img { text-align:center;}
.blog-wrapper .blog-list .blog-message { color:#997C99; position:absolute; right:20px; bottom:18px;}
.blog-wrapper .blog-list .blog-message a { color:#997C99;}
.blog-wrapper .blog-list .blog-message span { padding:0 10px !important;}
.blognews-page { background:url(../images/page-list-bg.jpg) no-repeat; width:516px; height:45px; margin:0 0 20px 0; color:#662384;}
.blognews-page .news-more { height:45px; line-height:45px; width:80px; padding:0 20px; float:left;}
.blognews-page .page-list { padding:11px; width:250px; float:right;}
.blognews-page .page-list span { display:inline-block; padding:1px 7px; line-height:20px; border:1px solid #46145c; }
.blognews-page .page-list a { display:inline-block; padding:1px 7px; line-height:20px; border:1px solid #46145c; }
.blognews-page .page-list a:hover { background:#310f41; border:1px solid #72488b; color:#72488b;}
.blognews-page .thispage { background:#310f41; border:1px solid #72488B !important; color:#72488b;}
.blognews-page .nopage { color:#3a1e40; border:1px solid #270B33 !important;}
.blog-img1 { width:480px; text-align:center; display:block;}
.blog-news .news-content { text-align:center; padding:10px 0;}
.blog-news .news-content p { text-align:left;}
.blog-news .news-content ul { padding:10px 0; text-align:left;}
.blog-news .news-content ul li { padding:0 20px; list-style:inside disc;}
.blog-news .news-content img { border:1px solid #401253; padding:1px; box-shadow:0 0 10px #000;}
.blog-news .news-content img:hover { border:1px solid #72488B;}
.blog-news .news-content a { color:#F07700;}
/* Content Right */
.wrapper-right { width:389px; float:left; margin:0 0 0 5px; }
.wrapper-right-center {width:389px; background:url(../images/right-center.jpg) repeat-y 0 0;}
.wrapper-right-top {width:389px; padding:20px 0 0 0; background:url(../images/right-top.jpg) no-repeat 0 0;}
.right-block { width:370px; margin:0 0 10px 10px;}
.right-border-top { width:380px;} 
.right-border-center { width:380px; margin:0 0 10px 0;}
.right-border-bottom { width:380px;} 
.right-content { padding:10px 0 0;}
.right-title ul { padding:0 0 0 15px;}
.right-title li { float:left; width:50px; line-height:24px; text-align:center; padding:3px 0 0 0; }
.right-title li a { display:block; width:50px; height:24px; color:#cc99cc;}
.right-title .right-silde-active { background:url(../images/right-menu-active.png) no-repeat 0 2px !important; width:50px; height:30px;}
.right-title .right-menu { padding:2px 0 0 0; float:right;}
.right-title .right-menu li { background:url(../images/right-menu-li.png) no-repeat 0 2px; margin:0 0 0 5px;}
.right-top { width:370px;}
.right-top .right-title { padding:6px 0 0 0;}
.right-top .right-title li { border:0; padding:3px 0 0 0; }
.right-top .right-title li a { color:#fff;}
.right-top .game-table { padding:0 0 5px 0;}
.right-top .game-table li.p-title { background:#1f0927; font-weight: bold; color:#CC99CC; line-height:28px;}
.right-top .game-table li { border-bottom:1px solid #270b33;}
.right-top .game-table span { display: inline-block; width:110px; text-align:left; line-height:26px; padding:0 0 0 10px;}
.sc2-search { margin:0 0 10px 10px; position:relative;}
.sc2-search .search-input { background:#19081f; border:1px solid #46145c; border-radius:5px 5px 5px 5px; box-shadow:0 0 15px #000 inset; color:#996699; height:20px; line-height:20px; left:0; padding:7px 35px 8px 5px; width:325px;}
.sc2-search .search-button { height:35px; width:35px; background:url(../images/search-button.png) no-repeat 0 0; position:absolute; left:330px; top:1px;}
.special-list { padding:0 0 10px 0;}
.special-list li { margin:5px 0 0 0;}
.special-list a { display:block; border:1px solid #270b33; padding:1px; width:365px; height:75px;}
.special-list a:hover { border:1px solid #ffccff;}
.right-img-list { padding:0 5px 10px 1px;}
.right-img-list .main-img { position:relative; width:359px; padding:0 0 0 5px;}
.right-img-list .main-img span { background:#000; opacity:0.8; display:block; width:355px; height:30px; position:absolute; left:7px; bottom:2px; text-align:center; line-height:30px;}
.right-img-list ul { padding:10px 0 0 0;}
.right-img-list li { float:left; padding:5px 0 5px 6px;}
.right-img-list li span { display:block; width:174px; height:22px; line-height:22px; overflow:hidden; text-align:center;}
.right-bottom { width:369px; height:444px; background:url(../images/right-bottom.png) no-repeat 0 0; margin:-10px 0 0 0; padding:0 10px;}
.friends-link a { padding:3px; line-height:20px;}
.contest-time { width:60px !important;}
.contest { width:160px !important;}
.blog-news .blog-content .blog-img { float:left;}
.blog-news .blog-content .blog-text { float:left; width:310px; padding:0 0 0 10px;}